aiohttp
aiosignal
async-timeout
attrs
chardet
charset-normalizer
# use `python -m pip install -U git+https://github.com/Rapptz/discord.py` to install the d.py master branch which supports threads
discord.py @ git+https://github.com/Rapptz/discord.py@414759f3723a3fe632ecfc1343a4164a51cd2940
frozenlist
idna
multidict
mypy
mypy-extensions
tomli
typing-extensions
yarl
python-dotenv
