# https://github.com/aio-libs/aiohttp/security/advisories/GHSA-v6wp-4m6f-gcjg
aiohttp
aiosignal
async-timeout
attrs
chardet
charset-normalizer
discord.py
frozenlist
idna
multidict
mypy
mypy-extensions
tomli
typing-extensions
yarl
python-dotenv
sumy

emoji